.background{
   background-image: url("https://images.saymedia-content.com/.image/c_limit%2Ccs_srgb%2Cq_auto:eco%2Cw_700/MTkzOTUzODU0MDkyODc5MzY1/particlesjs-examples.gif");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
    min-height: 100vh; 
    width: 100vw;
    display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;
}

.title{
    font: 2rem;
    color: black;
    margin-bottom: 40px;
}