
.fullpage{
  min-height: 100vh; 
  width: 100vw;
  background-color: #D9CFC7;
  display: flex;
  align-items: center;
  justify-content: center;
}


.container{
    background-image: url('/bg.png');
    height: 200px;
    width: 600px;

    display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center;

    padding: 3.75rem;
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1),
                0 4px 6px -2px rgba(0,0,0,0.05);
    transition: all 0.3s ease; 
    cursor: pointer;

}


.container:hover{
    transform: scale(1.05);
    box-shadow: 0 20px 25px -5px rgba(0,0,0,0.1),
                0 10px 10px -5px rgba(0,0,0,0.04);
}

.title {
  font-size: 3.5rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  color : #8B005D
}


.subtitle {
  font-size: 1.75rem;
  margin-bottom: 2.5rem;
  color : purple
}

.buttonContainer {
  display: flex;
  gap: 1.5rem;
}

.button {
  padding: 0.75rem 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  background-color: #6643b5;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #430f58;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}

.button:active {
  transform: translateY(0);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
